<style>
  .messagem-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma uma troca de senha foi realizada para sua conta.</p>
  <p>Se foi você, então clique no link abaixo para renovar senha:</p>
  <p>
      <a href="{{link}}">Atualizar minha senha</a>
  </p>
  <p>Se não foi você, por favor desconsiderar o e-mail.</p>
  <p>Obrigado!</p>
  <p><strong>Equipe de suporte ao cliente</strong></p>
</div>
